body{
  font-family: 'Ubuntu', sans-serif;
  /* letter-spacing: 2px; */
  /* background: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
  /* https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */
  
  /* max-width: 1366px;
  margin: auto; */
}

.wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  padding: 5rem;
}

.container{
  max-width: 1366px;
  /* border: 1px solid white; */
  display: flex;
  margin: auto;
}

/* nav::before{
  content: '';
  background: inherit;
  position: absolute;
  left: -0px;
  right: -0px;
  top: -0px;
  bottom: -0px;
  box-shadow: inset 0 0 0 3000px rgba(0,0,0,0.3);
  filter: blur(1px);
} */

.modal{
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid red;
  height: 100%;
  width: 100%;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  /* right: 0;
  bottom: 0; */
  /* margin-left: auto;
  margin-right: auto; */
}

.inner-modal{
  position: relative;
  border: 1px solid white;
  height: 80%;
  width: 50%;
  margin: auto;
  box-sizing: border-box;
}

.inner-modal img {
  position: absolute;
  max-width:100%;
  min-height:100%;
  object-fit: cover;
}

.exit{
  /* color:  */
  position: absolute;
  right: 0;
}

.exit span{
  display: block;
  color: white;
  font-size: 32px;
  padding: 20px 32px;
  cursor: pointer;
}

nav{
  /* background: #fff; */
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

section{
  height: 32rem;
  border: 1px solid;
}

.content{
  width: 37.5rem;
}


.banner{
  height: 500px;
  border: none;
  background: url(https://images.pexels.com/photos/713297/pexels-photo-713297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
  background-repeat: no-repeat; 
}

.links {
  color: white;
  text-decoration: none;
  padding: 1em;
  z-index: 1;
  background: #008081;
}

.links:hover{
  box-shadow: inset 0 0 0 5px #fff;
}

.links:focus{
  box-shadow: inset 0 0 0 5px #fff;
}

.banner-content {
  max-width: 70%;
  margin: auto;
  /* border: 1px solid red; */
}

.banner-content h1{
  color: white;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 120px;
}

.banner-content p{
  margin-top: 0;
  color: white;
}

.calculator-button{
  text-decoration: none;
  display: block;
  background: #008081;
  width: 175px;
  padding: 1rem;
  color: white;
  border: 1px solid #008081;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.calculator-button i {
  margin-left: 15px;
}

.calculator-button:hover {
  width: 250px;
  transition: width .3s;
  text-align: center;  
}

.calculator-button:focus {
  width: 250px;
  transition: width .3s;
  text-align: center;  
}

/* what we do css */
.what-we-do-title{
  background-color: white;
  max-width: 320px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}

.what-we-do-title h2{
  padding: 15px;
  font-size: 28px;
  color: #008081;
}

.what-we-do{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 35px;
  background: #008081;
}

.what-we-do-wrapper{
  background: #008081;
}

.what-we-do-card{
  height: 150px;
  background: #fff;
  /* border: 1px solid red; */
  padding: 15px;
  box-sizing: border-box;
  width: 250px;
  height: 170px;
  /* border: 1px solid; */
  margin: 10px;
  border-radius: 5px;
  color: #008081;
}

.jello-horizontal:hover {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

.jello-horizontal:focus {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-6 22:2:4
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


.scale-in-ver-top {
  height:150px;
  width:150px;
  border:1px solid red;
  background:red;
	-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-6 21:56:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

.testing-bar{
  height: 55px;
  width: 500px;
  border: 1px solid #EBEDEF;
  border-radius: 15px;
  margin: auto;
  background: #EBEDEF;
}

.money-bar{
  height: 55px;
  /* border: 1px solid blue; */
  width: 1%;
  background: #008081;
  border-radius: 15px;
  transition: 300ms width ease-in-out;
  text-align: center;
}

.money-bar span{
  display: block;
  font-size: 28px;
  color: white;
  padding: 10px;
}

.size-and-bathrooms{
  width: 550px;
  margin: 40px auto;
  border-bottom: 1px solid #008081;
  margin-bottom: 25px;
}

.size-and-bathrooms select{
  margin: 5px;
  width: 230px;
  background-image:
    linear-gradient(-180deg, transparent 50%, #008081 50%);
    /* linear-gradient(135deg, gray 50%, transparent 50%), */
    /* radial-gradient(#ddd 70%, transparent 72%); */
  background-position:
    calc(100% - 10px) calc(.45em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    15px 15px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border: 2px solid #CCCC;
  font-size: 16px;
  padding: 10px;
  appearance: none;
}

.what-we-do-card p{
  text-align: center;
}

.what-we-do-icons{
  font-size: 54px;
  display: block;
  text-align: center;
  padding: 15px;
  color: #008081;
}

/* who we are css */

.who-we-are{
  /* border: 1px solid red; */
  display: flex;
  align-items: stretch;
  /* margin-bottom: 150px; */
  padding: 35px 0px;
  border-radius: 5px;
  /* background: #008081; */
  /* margin-bottom: 75px; */
}

.who-we-are img{
  height: 348px;
  width: 500px;
  border: 1px solid #008081;
  border-right: none;
}

.who-we-are-content{
  width: 100%;
  height: 350px;
  background: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  color: #008081;
  border: 1px solid #008081;
  border-left: none;
}

.who-we-are-content h2 {
  padding: 50px;
  padding-bottom: 0;
}

.who-we-are-content p{
  padding: 50px;
}

.image{
  height: 350px;
  background: url(https://arizonamangojuice.github.io/vizcaino-ERN/images/spotlight01.jpg)
}

span{
  color: black;
}

/* gallery */

.gallery-title{
  background-color: white;
  max-width: 320px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}

.gallery-title h2 {
  padding: 15px;
  font-size: 28px;
  color: #008081;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 35px 0px;
  max-width: 1366px;
  margin: auto;
}

.gallery img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgba(204,204,204,1);
  box-shadow: -1px 2px 19px 3px rgba(204,204,204,1);
}

.gallery-image{
  position: relative;
}

.image-info{
  position: absolute;
  top: 5px;
  bottom: 8px;
  right: 5px;
  left: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: #008081;
  cursor: pointer;
  border-radius: 5px;
}

.image-info h2 {
  text-align: center;
  margin-top: 30%;
}

.image-info p {
  padding: 10px;
}

.image-detail{
  background: #008081;
  width: 120px;
  padding: 1rem;
  color: white;
  border: 1px solid #008081;
  display: block;
  margin: auto;
  cursor: pointer;
}


/* footer */

footer{
  /* height: 70px; */
  background: #008081;
  padding: 25px 0px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

}

.footer-social-buttons{
  display: flex;
  justify-content: center;
}

.footer-social-buttons a{
  color: #008081;
  background: #fff;
  font-size: 32px;
  padding: 15px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: bottom;
  line-height: 50px;
  text-decoration: none;
  margin-right: 10px;
}

footer p{
  text-align: center;
  font-size: 28px;
  color: #fff;
}

.hidden{
  display: none;
}

/* calculators */
.frequency {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.frequency button{
  border: 1px solid #CCCC;
  color: black;
  height: 60px;
  vertical-align: top;
  font-size: 16px;
  padding: 10px;
  width: 110px;
  background: #fff;
  border-radius: 5px;
  margin: 5px;
}

#freq-chosen{
  border: 1px solid #CCCC;
  color: white;
  font-size: 16px;
  padding: 10px;
  width: 110px;
  background: #008081;
  border-radius: 5px;
}

.extras{
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.extras button{
  border: 1px solid #CCCC;
  color: black;
  height: 60px;
  vertical-align: top;
  font-size: 16px;
  padding: 10px;
  width: 110px;
  background: #fff;
  border-radius: 5px;
  margin: 5px;
}

.extras button img{
  border: 1px solid ;
}

.extras:last-child{
  margin-bottom: 25px;
}

input{
  margin: 5px;
  width: 230px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #008081));
  background-image: -webkit-linear-gradient(top, transparent 50%, #008081 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #008081 50%);
  background-image: linear-gradient(-180deg, transparent 50%, #008081 50%);
  background-position: calc(100% - 10px) calc(.45em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
  background-size: 15px 15px,
  5px 5px,
  1.5em 1.5em;
  background-repeat: no-repeat;
  border: 2px solid #CCCC;
  font-size: 16px;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.client-info{
  margin-bottom: 25px;
}

.client-home{
  margin-bottom: 25px;
}

.client-home input:first-child{
  width: 350px;
}

.client-home input:nth-of-type(2){
  width: 110px;
}

.date-to-come{
  width: 550px;
  margin: auto;
}

.date-chooser{
  margin-bottom: 25px;
}

.output-container h2{
  padding: 15px;
  font-size: 28px;
  color: #008081;
  text-align: center;
}

.output-container p {
  width: 500px;
  margin: auto;
  padding: 15px;
  font-size: 22px;
  color: #008081;
  margin-bottom: 15px;
}

.choose-your-service{
  color: #008081;
}

.choose-your-service h2{
  padding-bottom: 0;
  margin-bottom: 5px;
}

.choose-your-service p:first-of-type{
  padding-top: 0;
  margin-top: 0;
}

.choose-your-service p:nth-of-type(2){
  padding-bottom: 0;
  box-sizing: border-box;
  padding: 2px;
  margin-bottom: 15px;
}

.size-and-bathrooms select:nth-of-type(2){
  margin-bottom: 25px;
}

.calc-mid-size{
  width: 550px;
  margin: auto;
  border-bottom: 1px solid #008081;
  margin-bottom: 25px;
}

.how-often{
  color: #008081;
}

.how-often{
  padding-bottom: 0;
  margin-bottom: 5px;
}

.calc-mid-size select{
  margin: 5px;
  width: 230px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #008081));
  background-image: -webkit-linear-gradient(top, transparent 50%, #008081 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #008081 50%);
  background-image: linear-gradient(-180deg, transparent 50%, #008081 50%);
  background-position: calc(100% - 10px) calc(.45em + 2px),
calc(100% - 15px) calc(1em + 2px),
calc(100% - .5em) .5em;
  background-size: 15px 15px,
5px 5px,
1.5em 1.5em;
  background-repeat: no-repeat;
  border: 2px solid #CCCC;
  font-size: 16px;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.calc-button{
    border: 1px solid #CCCC;
    color: black;
    height: 60px;
    vertical-align: top;
    font-size: 16px;
    padding: 10px;
    width: 110px;
    background: #fff;
    border-radius: 5px;
    margin: 5px;
}

.terms-of-service{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

textarea{
  width: 500px;
    height: 80px;
    border: 1px solid #ccc;
    margin: 15px auto;
    padding: 15px;
}

.book-now-button{
  border: 1px solid #CCCC;
  color: black;
  width: 100% !important;
  height: 60px;
  vertical-align: top;
  font-size: 16px;
  padding: 10px;
  width: 110px;
  background: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

.calculator{
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  max-width: 1400px;
  margin: auto;
}

.calculator:before,
.calculator:after{
  content: " "; 
  display: table; 
}

.calculator:after{
  clear: both;
}

.calculator{
  *zoom: 1;
}

.float-total{
  float: left;
}

.float-total{
  border-radius: 5px;
  position: sticky;
  top: 30%;
  height: 300px;
  border: 1px solid #ccc;
  /* border: 1px solid rgba(0,128,129,0.34); */
  box-shadow: -1px 2px 19px 3px  rgba(204,204,204,1);
  margin-left: 30px; 
  /* box-shadow: -1px 2px 19px 3px rgba(0,128,129,0.54); */
}

.calc-form{
  box-shadow: -1px 2px 19px 3px  rgba(204,204,204,1);
  border: 1px solid #ccc;
  padding: 45px;
  border-radius: 5px;
  margin-bottom: 150px;
}

@media (max-width: 1280px){
  .calculator{
    flex-direction: column-reverse;
  }

  .float-total{
    margin-left: 0;
    width: 550px;
    margin: auto;
    background: white;
    padding: 0 45px;
    margin-bottom: 40px;
    top: 1%;
  }

  .calc-form{
    width: 550px;
    margin: auto;
  }
}

@media (max-width: 600px){
  .banner-content h1{
    width: 50%;
    font-size: 8vh;
  }
  nav{
    justify-content: center;
    background-color: #008081;
  }
  .links{
    font-size: .8em;
  }
  .calculator-button:hover {
    width: 200px;
  }
  .container{
    flex-direction: column;
  }
  .who-we-are-content{
    height: auto;
  }
  .who-we-are img{
    width: 320px;
  }
  .calc-form{
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
  }
  .size-and-bathrooms{
    width: 100%;
  }
  .calc-mid-size{
    width: 100%;
  }
  .extras{
    width: 100%;
  }
  textarea{
    width: 80%;
  }
  .float-total{
    width: 100%;
    box-sizing: border-box;
  }
  .testing-bar{
    width: 100%;
  }
  .output-container p{
    width: 100%;
    font-size: .9em;
  }
  .client-home input:first-child {
    width: 80%;
  }
  .gallery img{
    width: 100%;
    margin: 0;
  }
  .image-info{
    box-sizing: border-box;
  }
  .money-bar span{
    font-size: 20px;
    padding-top: 15px;
  }
  .output-container h2{
    margin: 0;
  }
  .frequency{
    flex-wrap: wrap;
  }
}